{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}

<div id="homepage">

  <h1>Welcome to Number Guess!</h1>
  
  <br>
  
  <h6>Log in to play and save your streak!</h6>
  <p>Number Guess is a fun and engaging web game created by Ann Jordan and Liliana Aguilar.</p>
  
  <br><br><br>
  
  <h2>How To Play</h2>
  
  <br><br>
  
  <p>Guess the number in 6 tries!</p>
  <p>Each guess must be valid numbers from 0-99.</p>
  <p>Once you guess, you get a 'Too High' or 'Too Low' message to help you determine the real number. </p>
  <p>If you refresh, your answers won't save!</p>
  <p>Come back everyday for a new round!</p>
  
  <br><br>
  
  <h3>Examples:</h3>
  
  <br><br>
  
  <h4 id=two >Guess One: <strong>2</strong></h4>
  
  <p id=example1 ><strong>Too low</strong></p>
  
  <br>
  
  <h4 id= ninetythree >Guess Two: <strong>93</strong></h4>
  
  <p id=example2 ><strong>Too High</strong></p>
  
  <br>
  
  <h4 id=eightyfour >Guess Three: <strong> 84</strong></h4>
  
  <p id=example3 ><strong> The guess is correct! This is the secret number.</strong></p>
  
</div>
{% endblock %}
