{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}

  <h1>Welcome to Number Guess!</h1>
  
  <br>

  <p>Number Guess is a fun and engaging web game created by Ann Jordan and Liliana Aguilar.</p>
  
  <br><br><br>
  
  <h2>How To Play</h2>
  
  <br><br>
  
  <p>Guess the number in 6 tries!</p>
  
  <br>
  
  <p>Each guess must be valid numbers from 0-99.</p>
  <p>The color of the text box for that guess specifically will change its colors to show how close your guess was to the real number.</p>
  <p>If you refresh, your answers won't save!</p>
  
  <br><br>
  
  <h3>Examples:</h3>
  
  <br><br>
  
  <h4 id=example1><strong>2</strong></h4>
  
  <p>The guess is not close to the real number.</p>
  
  <br>
  
  <h4 id=example2><strong>75</strong></h4>
  
  <p>The guess is getting closer to the real number.</p>
  
  <br>
  
  <h4 id=example3><strong>84</strong></h4>
  
  <p>The guess is correct! This is the real number.</p>
  

{% endblock %}
