{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}page1{% endblock %}

{% block content %}
  <h1>This is Page 1</h1>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <script>
      $(document).ready(function(){
          $("button").click(function(){
              $("#hello").load("/update_p");
          });
      });
  </script>

  <p>
    <strong>{{ message | safe }}</strong>
    {% if guesses_left is defined and guesses_left > 0 %}
	  You have <strong>{{ guesses_left }}</strong> guesses left.
	{% endif %}
  </p>
  
  {% if 'CORRECT' not in message and 'GAME OVER' not in message %}
    <form action="/page1" method="POST">
      <label for="user_input">Enter your guess (0 to 99):</label>
      <input type="number" id="user_input" name="user_input" min="0" max="99" required autofocus>
      <button type="submit">Send</button>
    </form>
  {% endif %}
  
  <hr>
  
  <p> Your History: </p>
  {% if history %}
    <ul>
      {% for entry in history | reverse %}
        <li>{{ entry | safe }}</li>
      {% endfor %}
    </ul>
    {% else %}
      <p>No guesses yet</p>
  {% endif %}
    <!-- ><form action="/response" method="POST">
        <label for="user_input">Message:</label>
        <input type="text" id="user_input" name="user_input" required>
        <button type="submit">Send</button>
	</form>
	-->

{% endblock %}
