{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}page1{% endblock %}

{% block content %}
  <h1>This is Page 1</h1>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <script>
      $(document).ready(function(){
          $("button").click(function(){
              $("#hello").load("/update_p");
          });
      });
  </script>

  <p>**{{ message | safe }}**{% if guesses_left is defines and guesses_left > 0 %}
	You have **{{ guesses_left }}** guesses left.
	{% endif %}
  </p>
  
  {% if message%}
    <!-- ><form action="/response" method="POST">
        <label for="user_input">Message:</label>
        <input type="text" id="user_input" name="user_input" required>
        <button type="submit">Send</button>
	</form>
	-->
	
	<p id="hello">hello</p>

{% endblock %}
